body{
    font-family: 'Montserrat',sans-serif;
    overflow-x: hidden;
}
.the-ham{
    height: 1012px;
    background-image: url(../img/backgrounds/section1bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.header{
    background-color: rgba(73, 71, 63, 0.6);
}
.header-container{
    width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header-logo{
    padding: 46px 0 42px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-link{
    color: #b8b8b8;
    cursor: pointer;
}
.header-logo-text{
    font-size: 32px;
    color: white;
}
.green-text{
    color: #18cfab;
    text-transform: capitalize;
    font-weight: 700;
}
.uppercase{
    text-transform: uppercase;
}
.header-menu{
    width: 683px;
    display: flex;
    justify-content: space-between;
}
.header-menu-item{
    padding-top: 56px;
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}
.header-menu-item:hover{
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
}
.search{
    padding-top: 53px;
}
.hexagon {
	width: 58px;
	height: 28px;
	background: #18cfab;
    position: relative;
    font-size: 40px;
    font-weight: 700;
    line-height: 31px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -19px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 29px solid transparent;
	border-right: 29px solid transparent;
	border-bottom: 19px solid #18cfab;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -19px; 
	left: 0;
	width: 0;
	height: 0;
	border-left: 29px solid transparent;
	border-right: 29px solid transparent;
	border-top: 19px solid #18cfab;
}
.the-ham-container{
    width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 246px;
}
.title-ham{
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
   
}
.title-creative{
    color: white;
    font-size: 79px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 45px;
    
}
.title-buy{
    color:  #d4d4d4;
    font-size: 34px;
    text-transform: capitalize;
    padding-top: 36px;
}
.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 146px;
}
.button{
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    width: 166px;
    height: 61px;
    border-radius: 4px;
    border-top: 3px solid white;
    font-size: 13px;
    color: white;
    cursor: pointer;
}
.blue-button{
    background-color: #00cbf6;
    margin-left: 28px;
}
.square{
    width: 25%;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.squares-block{
    display: flex;
}
.green-square{
    background-color: #18cfab;
    color: white;
    border-top: 4px solid white

}
.blue-square{
    background-color: #1c2a33;
    color: #18cfab;
    border-top: 4px solid #18cfab;
}
.sprite-img{
   background-image: url(../img/css_sprites.png);
}
.finger{
    width: 58px;
    height: 97px;
    background-position: -20px -20px;
    margin-top: 95px;
}
.gem{
    width: 93px;
    height: 75px;
    background-position: -218px -20px;
    margin-top: 106px;
}
.lamp{
    width: 60px;
    height: 96px;
    background-position: -118px -20px;
    margin-top: 95px;
}
.device{
    width: 99px;
    height: 76px;
    background-position: -351px -20px;
    margin-top: 106px;
}
.square-description{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.even{
    margin-top: 48px;
}
.odd{
    margin-top: 59px;
}
.services-container{
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-menu{
    display: flex;
}
.services-item{
    height: 73px;
    background-color: rgb(247, 250, 252);
    text-transform: capitalize;
    text-align: center;
    border: 1px solid rgb(239, 240, 241);
    color: #717171;
    font-size: 16px;
    padding-top: 27px;
    cursor: pointer;
    box-sizing: border-box;
}
.triangle::after{
    content: '';
    display: block;
    margin: 28px auto;
    width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 16px solid #18cfab;
}
.services-title{
    color:  #4e4e4e;
    font-size: 36px;
    margin-top: 111px;
    text-transform: capitalize;
}
.green-stripes-container{
    width: 90px;
    height: 4px;
    margin: 40px auto 68px;
}
.green-stripe{
    width: 80px;
    height: 1px;
    background-color: #18cfab;
}
.right{
    margin-top: 2px;
    float: right;
}
.services-item:nth-child(odd){
    width: 193px;
}
.services-item:nth-child(even){
    width: 192px;
}
.service-description{
    width: 1141px;
    display: flex;
    justify-content: space-between;
    display: none;
}
.service-img{
    margin-top: 24px;
    width: 194px;
    height: 139px;
    display: block;
}
.service-text{
    margin-top: 24px;
    width: 927px;
    height: 136px;
    letter-spacing: -1px;
    color:  #777777;
    font-size: 13.64px;
    line-height: 24px;
    text-align: justify;
}
.shown{
    opacity: 1;
    transition-duration: 1s;
}
.hidden{
    opacity: 0;
}
.active-flex{
    display: flex;
}
.green-button{ 
    background-color: #18cfab;
}
.services-item:hover{
    background-color: #18cfab;
}
.install{
    width: 100%;
    height: 474px;
    background-image: url(../img/backgrounds/section-2.jpg);
    background-size: cover;
    background-position-y: -270px;
    margin-top: 105px;
}
.install-bg-color{
    width: 100%;
    height: 474px;
    background-color: rgba(0, 0, 0, 0.78);
}
.install-container{
    width: 1117px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.install-green-title{
    color:  #18cfab;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 126px;
}
.install-about{
    color:  #d8d8d8;
    font-size: 16px;
    margin-top: 35px;
}
.install-section-button{
    margin-top: 80px;
}
.our-amaizing-work{
    background-color: #f8fcfe;
}
.amazing-conatiner{
    width: 1141px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.amaizing-title{
    color: #4e4e4e;
    font-size: 36px;
    text-align: center;
    padding-top: 97px;
    text-transform: capitalize;
}
.amazing-menu{
    width: 609px;
    display: flex;
}
.amazing-menu-item{
    color:  #717171;
    font-size: 14px;
    padding: 24px 20px 20px;
    border: 1px solid rgb(239, 240, 241);
    text-transform: capitalize;
    cursor: pointer;
}
.amazing-choosed-item{
    color:#18cfab;
    border-top: 1px solid #18cfab;
}
.amazing-photo-container{
    margin-top: 71px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.amazing-photo{
    display: none;
    width: 25%;
}
.active{
    display: block;
}
.disabled{
    display: none;
}
.amazing-photo-intro{
    width: 25%;
    height: 208px;
    border-top: 2px solid #18cfab;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons-container{
    display: flex;
    margin: 46px 0 34px;
}
.icon{
    width: 41px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #18cfab;
    text-align: center;
    line-height: 43px;
}
.find{
    width: 41px;
    height: 40px;
    border-radius: 50%;
    line-height: 43px;
    text-align: center;
    margin-left: 5px;
    background-color: #18cfab;
}
.white{
    color: white;
}
.intro-creative{
    color:  #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.intro-web{
    color:  #8a8a8a;
    font-size: 12px;
    text-transform: capitalize;
    padding-top: 13px;
}
.plus{
    padding-right: 16px;
}
.load-more{
    margin: 71px 0 100px;
}
.news{
    padding-top: 84px;
}
.news-container{
    width: 1139px;
    margin: 0 auto;
}
.news-title{
    color:  #4e4e4e;
    font-size: 36px;
    text-align: center;
    text-transform: capitalize;
}
.posts-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news-link{
    width: 263px;
    height: 280px;
    background-color: #f8fcfe;
    position: relative;
    margin-bottom: 45px
}
.news-link:hover .post-date{
    background-color: #18cfab;
}
.news-link:hover .post-name{
    color: #18cfab;
}
.news-link:nth-child(n+5){
    margin-bottom: 132px;
}
.post-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 66px;
    background-color: #203e38;;
    color: white;
    left: 195px;
    top: 0;
    position: absolute;
}
.post-month{
    text-transform: capitalize;
    margin-top: 5px;
}
.post-name{
    color:  #717171;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 14px 7px;
}
.post-about{
    color:  #777777;
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 12px;
}
.slides-container{
    margin-top: 43px;
    position: relative;
    width: 1097px;
}
.slide{
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.active-slide{
    position: relative;
    opacity: 1;
    left: 0;
    top: 0;
    transition-duration: 1s;
}
.left-slide{
    position: absolute;
    top: 0;
    left: -2000px;
    transition-duration: 1s;
    width: 1097px;
}
.right-slide{
    position: absolute;
    top: 0;
    left: 2000px;
    transition-duration: 1s;
    width: 1097px;
}
.about-ham{
    background-image: url(../img/backgrounds/section-3.jpg);
    background-size: cover;
}
.about-ham-container{
    width: 1097px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-ham-title{
    color:  #ffffff;
    font-size: 36px;
    padding-top: 99px;
}
.capitalize{
    text-transform: capitalize;
}
.about-ham-text{
    color:  #bbbbbb;
    font-size: 16px;
    text-align: center;
}
.about-ham-author{
    color:  #18cfab;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 43px;
}
.author-position{
    color:  #bbbbbb;
    font-size: 13px;
    text-transform: capitalize;
    padding-top: 10px;
}
.author-photo{
    background-image: url(../img/about-ham/hasan-big.png);
    background-size: cover;
    border-radius: 50%;
    height: 142px;
    width: 143px;
    margin-top: 26px;
    border: 2px solid #18cfab;
    box-sizing: border-box;
    position: relative;
}
.author-photo::before{
    content: '';
    display: block;
    position: absolute;
    border: 10px solid rgba(95, 202, 172, 0.5);
    border-radius: 50%;
    width: 143px;
    height: 142px;
    top: -12px;
    left: -12px;
}
.choose-slide-container{
    display: flex;
    width: 492px;
    padding-top: 69px;
    padding-bottom: 104px;
    justify-content: space-between;
    align-items: center;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    border: 1px solid #bbbbbb;
    cursor: pointer;
}
.arrow:hover{
    background-color: #18cfab;
    border: none;
    width: 33px;
    height: 33px;
}
.grey{
    color: #bbbbbb;
}
.green{
    color: #18cfab;
}
.choose-photo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    background-size: cover;
    cursor: pointer;
}
.choose-photo::before{
    content: '';
    display: block;
    position: absolute;
    border: 4px solid rgba(95, 202, 172, 0.5);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    top: -4px;
    left: -4px;
}
.liza{
    background-image: url(../img/about-ham/liza.png);
}
.martin{
    background-image: url(../img/about-ham/martin.png);
}
.hasan{
    background-image: url(../img/about-ham/hasan.png);
}
.lily{
    background-image: url(../img/about-ham/lily.png);
}
.active-photo{
    position: relative;
    top: -15px;
    border: 1px solid #18cfab;
}
.lily-big{
    background-image: url(../img/about-ham/lily-big.png);
}
.liza-big{
    background-image: url(../img/about-ham/liza-big.png);
}
.martin-big{
    background-image: url(../img/about-ham/martin-big.png);
}
.footer{
    background-color: #22353f;
}
.footer-container{
    width: 1160px;
    margin: 0 auto;
    padding: 47px 0;
}
.footer-copyright{
    color:  #aeaeae;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
}





